{% extends "poll/base.html" %}

{% block title %}Vote{% endblock %}

{% block main %}
<div class="col-12 col-md-6 mx-auto pt-3">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Voting boot</h5>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size: large;">Whatss is the best programing language for software development</p>
            <div>
                <label class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inline-radios-example" value="option1">
<span class="form-check-label">
Django
</span>
</label>
                <label class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inline-radios-example" value="option2">
<span class="form-check-label">
Kotlin
</span>
</label>
                <label class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inline-radios-example" value="option3">
<span class="form-check-label">
Python
</span>
</label>
            </div>
            <div class="pt-3">
                <a href="#" class="btn btn-primary" >Go somewhere</a>
            </div>
            
        </div>
    </div>
</div>

{% endblock %}