{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "style.css" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  </head>
  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Poll Web Application Django</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav px-5">
            <li class="nav-item md-3">
              <a class="nav-link" aria-current="page" href="home" style="font-size:20px;">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="create" style="font-size:20px;">Create</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
</header>
<div class="col-12 col-md-6 mx-auto pt-3">
    <div class="card">
        <div class="card-header">
            <h5 class="card-title mb-0">Voting boot</h5>
        </div>
        <div class="card-body">
            <p class="card-text" style="font-size: large;">Whatss is the best programing language for software development</p>
            <div>
                <label class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inline-radios-example" value="option1">
<span class="form-check-label">
Django
</span>
</label>
                <label class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inline-radios-example" value="option2">
<span class="form-check-label">
Kotlin
</span>
</label>
                <label class="form-check form-check-inline">
<input class="form-check-input" type="radio" name="inline-radios-example" value="option3">
<span class="form-check-label">
Python
</span>
</label>
            </div>
            <div class="pt-3">
                <a href="#" class="btn btn-primary" >Go somewhere</a>
            </div>
            
        </div>
    </div>
</div>


</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>
